<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
	<a th:href="@{/Menu}" class="btn btn-danger">Salir</a>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>NUMERO DE VUELO</th>
					<th>FECHA DE SALIDA</th>
					<th>ORIGEN</th>
					<th>DESTINO</th>
					<th>ESTADO</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vuelos:${vuelos}">
					<td th:text="${vuelos.id}"></td>
					<td th:text="${vuelos.numeroVuelo}"></td>
					<td th:text="${vuelos.fechaSalida}"></td>
					<td th:text="${vuelos.origen}"></td>
					<td th:text="${vuelos.destino}"></td>
					<td th:text="${vuelos.estado}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="funciones.js"></script>
</body>
</html>